/* color palette from <https://github.com/vuejs/theme> */
@import "@/assets/card.css";

:root {
    --vt-c-white: #ffffff;
    --vt-c-white-soft: #f8f8f8;
    --vt-c-white-mute: #f2f2f2;
    --vt-c-black: #181818;
    --vt-c-black-soft: #222222;
    --vt-c-black-mute: #282828;
    --vt-c-indigo: #2c3e50;
    --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
    --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
    --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
    --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);
    --vt-c-text-light-1: var(--vt-c-indigo);
    --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
    --vt-c-text-dark-1: var(--vt-c-white);
    --vt-c-text-dark-2: #a2a2a2;
}

:root {
    --color-background-mute: var(--vt-c-black-mute);
    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);
    --color-heading: var(--vt-c-text-dark-1);

    --color-primary: #5d88bd;
    --color-secondary: #222222;
    --color-tertiary: #a2a2a2;

    --color-card-black: #2e3440;
    --color-card-black-text: #fefefe;
    --color-card-white: #5d88bd;
    --color-card-white-text: #fefefe;

    --color-ui-text: #a2a2a2;

    --color-background: #181818;
    --color-background-alt: #222222;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    position: relative;
    font-weight: normal;
}

#hexagons {
    fill: var(--color-background-alt);
}

body {
    min-height: 100vh;
    color: var(--color-ui-text);
    background-color: var(--color-background);
    transition: color 0.5s, background-color 0.5s;
    line-height: 1.6;
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/*******************************/

a {
    text-decoration: none;
    color: var(--color-primary);
    transition: 0.5s;
}

@media (hover: hover) {
    a:hover {
        color: var(--color-tertiary);
    }
}

footer {
    bottom: 0;
    position: fixed;
    padding-bottom: 0.5%;
    width: 100%;
    text-align: center;
    background-color: var(--color-background);
}

.padding {
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.centered_text {
    margin-left: 20%;
    margin-right: 20%;
}

.clickable {
    cursor: pointer;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.break {
    flex-basis: 100%;
    height: 0;
}

input[type="text"].checkbox {
    width: 25px;
    height: 25px;
    caret-color: transparent;
    cursor: pointer;
}

input[type="text"]:not(.checkbox),
input[type="text"].checkbox,
input[type="password"],
select,
button {
    color: var(--color-primary);
    transition: 0.5s;
    background-color: var(--color-secondary);
    border: 0px solid white;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    outline: none;
    border: 0.15rem solid transparent;
}

input[type="text"]:focus:not(.checkbox),
input[type="text"].checkbox.checked,
input[type="password"]:focus,
select:focus,
button:hover {
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

input[type="text"]:hover:not(.checkbox),
input[type="text"].checkbox,
input[type="password"]:hover,
select:hover {
    border: 0.15rem solid var(--color-primary);
}

button:hover {
    cursor: pointer;
}

/* header > div > div.logo {
    background-image: url("/icons/logo.svg");
    background-size: auto 2rem;
    background-repeat: no-repeat;
    background-position: left
}

@media only screen and (max-width: 500px) {
    header > div > .logo {
        background-image: none !important;
    }
    header > div > .logo > span {
        display: none;
    }
} */

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.left {
    float: left;
}
  
.right {
    float: right;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered {
    margin: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 5rem 2rem;
    background-color: var(--color-secondary);
    border-radius: 1rem;
    text-align: center;
    max-width: 50vh;
}

@media only screen and (max-height: 600px) {
    .centered {
        top: 15%;
        left: 10%;
        right: 10%;
        -ms-transform: none;
        transform: none;
        max-width: 100vw;
    }
}

body::-webkit-scrollbar {
	width: 12px;
    border-left: 2px solid var(--color-secondary);
	background-color: var(--color-background);
}

body::-webkit-scrollbar-thumb {
	background-color: var(--color-background-alt);
}

/*******************************************/

@media only screen and (min-width: 601px) {
    .container.left {
        justify-content: left !important;
    }
}

@media only screen and (max-width: 600px){
    div.newline {
        display: flex;
        justify-content: center;
    }
    button.btn {
        width: 100px;
    }
}

button.btn {
    margin-bottom: 24px;
    height: 2.5rem;
}

div.newline {
    width: 100%;
}